.playground {
  display: flex;
  flex-grow: 1;
  max-width: 100%;
  flex-direction: column;
  border: solid var(--sl-color-accent) 1px;
  border-radius: 8px;

  @media screen and (min-width: 800px) {
    flex-direction: row;
  }
}

.componentDemo {
  display: flex;
  padding: 1.5rem;
  align-self: center;
  justify-content: center;
  flex-grow: 1;
}

.controls {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding: 1rem;
  background-color: var(--sl-color-accent-low);
  text-transform: capitalize;
  min-width: 300px;

  @media screen and (min-width: 800px) {
    border-top-right-radius: inherit;
    border-bottom-left-radius: initial;
  }
}
