.blueTheme {
  --primary: #3a3959;
  --secondary: #94cef2;
  --neutral: gray;
  --danger: #c95050;
  --info: #f2c879;
  --success: mediumseagreen;
  --warning: #ffbe00;
  --black: #0d0d0d;
}

.orangeTheme {
  --primary: #d9753b;
  --secondary: #f29e6d;
  --neutral: gray;
  --danger: #c95050;
  --info: #592c12;
  --success: lightgreen;
  --warning: #ffbe00;
  --black: #0d0d0d;
}
